<!-- first div block (container-fluid)-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-12"></div>
      <!-- begining second column -->
      <div class="col-sm-8 col-12">


<!-- <div [innerHtml] ="pageContent | safeHtml"></div> -->

<dynamic-html [content]="pageContent"></dynamic-html>
<!-- <gist ></gist> -->
      </div> <!-- Ending second column -->

      <div class="col-sm-3 col-12 ">         <!-- Starting third column -->
       <div class="row">

        <ul class="list-group mt-2 mx-2">
          <a class="list-group-item list-group-item-Primary"><b>Related Articles.</b></a>
          <a class="sidebar-list-group sidebar-list-group-secondary list-hover" href="#">Getting started with
            apachy-derby.</a>
          <a class="sidebar-list-group sidebar-list-group-dark list-hover">Morbi lefnks fdfhho fsho fshwn oiasfh o  o risus</a>
          <a class="sidebar-list-group sidebar-list-group-secondary list-hover">Porta ac consectetur ac</a>
          <a class="sidebar-list-group sidebar-list-group-dark list-hover" list-hover>Vestibulum at eros</a>
          <a class="sidebar-list-group sidebar-list-group-secondary list-hover">Porta ac consectetur ac</a>

        </ul>

      </div> 
      <div class="row">

        <ul class="list-group mt-2 mx-2">
          <a class="list-group-item list-group-item-Primary"><b> Tags  </b></a>
          <li class="sidebar-tag-group sidebar-list-group-secondary">
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button"> spring boot</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
            <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>
                  <button class="btn btn-xsm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>



          </li>

        </ul>

      </div> 
    </div><!-- Ending third columns -->

    
    </div><!-- Ending first row -->

    <!-- Ending fist div block(conrainer-fluid) -->
  </div>