<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12 col-md-1">
        </div>
      <div class="col-sm-12 col-12 col-md-8">
      
          <dynamic-html [content]="pageContent"></dynamic-html>
      </div>
      <div class="col-sm-12 col-12  col-md-3">
        <div class="row">
          <div class="col-sm-12 col-12 col-md-12">
            <li class="list-header">Related Article</li>
            <li class="list-item">Hi This is First One</li>
            <li class="list-item">Hi This is Second One ygu gu ug ui y 87 uyg 87 7g yg 8g8 buy g</li>
            <li class="list-item">Hi This is Third One</li>
            <li class="list-item">Hi This is First One</li>
            <li class="list-item">Hi This is Second One ygu gu ug ui y 87 uyg 87 7g yg 8g8 buy g</li>
            <li class="list-item">Hi This is Third One</li>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-12 col-md-12">
  
            <li class="tag-header">Tags</li>
            <div class="tag-container">
              <button class="tag-button">Java</button>
              <button class="tag-button">Sparing Boot</button>
              <button class="tag-button">Javascript</button>
              <button class="tag-button">Oracle TS</button>
              <button class="tag-button">Spring JPA</button>
              <button class="tag-button">Kafka</button>
              <button class="tag-button">mySql-Database</button>
              <button class="tag-button">sample tag</button>
              <button class="tag-button">Just a tag</button>
              <button class="tag-button">Java</button>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>