<!--The content below is only a placeholder and can be replaced.-->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="mybody">
  <!-- My Navbar starts here -->
  <div>
    <div class="header nav-header">
      <img class="nav-logo" src="./assets/logo.png"><img>
      <!-- <i class="fa fa-search" style="font-size: 40px;color:white;float:right" aria-hidden="true"></i> -->
      <!-- <div style=" display: flex;justify-content: space-around;"> -->
      <input  class="nav-search1" type="text" placeholder="Search here">
      <!-- </div>  -->
    </div>
    <!-- <div class="row "> -->

    <!-- </div> -->
  </div>
  <ul id="navUl" class="nav-ul" style="overflow-wrap: initial">
    <li class="nav-li" id="navLogo"> <img class="nav-logo2" src="./assets/logo.png"><img>
    </li>
    <li *ngIf="showit" class="nav-li"><a  class="active" href="#home">Java</a></li>
    <li *ngIf="showit" class="nav-li showIt"><a href="#news">Spring</a></li>
    <li *ngIf="showit" class="nav-li showIt"><a href="#contact">Angular</a></li>
    <li *ngIf="showit" class="nav-li"><a href="#contact">MySql</a></li>
    <li *ngIf="showit" class="nav-li"><a href="#contact">Interview</a></li>
    <!-- (mouseover)="showit=false" (mouseout)="showit=true" -->
    <li class="nav-li searchbar2" [hidden]="showit" style="width: 60%;padding:0px;"><a><input  (focusout)="showit=true"
          id="searchInput2" type="text"></a></li>
    <li *ngIf="showit" id="searchIcon"style="position:absolute;right:10%"class="nav-li"><a (click)="focusElement()"><span class="fa fa-search fa-lg"></span></a></li>
    <!-- <li style="float:right;padding: 10px 16px; "></li> -->
    <li class="nav-li" class="nav-collaps-bar"><a href="#contact"><i class="fa fa-bars fa-lg"
          aria-hidden="true"></i></a></li>

  </ul>
  <div class="mobileNavBar">

  </div>
  <!-- My navbar ends here -->
  <!--
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(174, 174, 250);">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mx-auto">
        <form class="form-inline">
          <button class="btn btn-sm btn-outline-success mx-2 my-1 list-hover" type="button">Java</button>
          <button class="btn btn-sm btn-outline-success mx-2 my-1 list-hover" type="button">Spring</button>
          <button class="btn btn-sm btn-outline-success mx-2 my-1 list-hover" type="button">Interview</button>

        </form>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 list-hover" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 list-hover" type="submit">Search</button>
      </form>
    </div>
  </nav>  -->
<div (click)="showit=true" >
  <router-outlet id="routerElement" ></router-outlet>
</div> 
  <div class="page-footer">
    This is footer content
  </div>


</div>