<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-12 col-md-9">
      <div class="row flex-container">

        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>

        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>

        <div class="article-card">
          <img class="article-card-image" src="./assets/tes_crop.jpg" alt="Card image cap">
          <div class="article-card-content">
            <h5 Style=" color:black"><b>Playing with Spring security and angular 6.</b></h5>
            <p Style=" color:rgb(71, 68, 64);   font-family: 'Times New Roman', Times, serif;
              "><em>Without having knowledege of Spring security i consider your knowledge on spring security is half..<a href="#" style="color:rgb(71, 68, 64); "><b>learn more</b></a></em></p>
          </div>
          <div class="article-card-footer">
            <p><span class="article-footer-left"><span class="fas fa-user-circle"
                  style="color:slateblue"></span>&nbsp;Admin</span> <span class="article-footer-right"><span
                  class='fas fa-calendar-alt' style='font-size:17px;color: teal'></span>
                13-April-19 &nbsp;</span><br>
              <span class="article-footer-left"><span class="fas fa-tags " style="color:red"></span><a
                  href="">Java</a>,&nbsp;Spring,Angular,Spring Boot</span></p>
          </div>
        </div>

        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
        <div class="article-card">
          <img class="article-card-image" src="./assets/test.png" alt="Card image cap">
        </div>
      </div>
      <div class="parent">
        <div class="pagination">
          <a href="#" class="pagination-border">&laquo;&laquo;</a>
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#" class="pagination-border">&raquo;&raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-12  col-md-3">
      <div class="row">
        <div class="col-sm-12 col-12 col-md-12">
          <li class="list-header">Popular Article</li>
          <li class="list-item">Hi This is First One</li>
          <li class="list-item">Hi This is Second One ygu gu ug ui y 87 uyg 87 7g yg 8g8 buy g</li>
          <li class="list-item">Hi This is Third One</li>
          <li class="list-item">Hi This is First One</li>
          <li class="list-item">Hi This is Second One ygu gu ug ui y 87 uyg 87 7g yg 8g8 buy g</li>
          <li class="list-item">Hi This is Third One</li>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-12 col-md-12">

          <li class="tag-header">Tags</li>
          <div class="tag-container">
            <button class="tag-button">Java</button>
            <button class="tag-button">Sparing Boot</button>
            <button class="tag-button">Javascript</button>
            <button class="tag-button">Oracle TS</button>
            <button class="tag-button">Spring JPA</button>
            <button class="tag-button">Kafka</button>
            <button class="tag-button">mySql-Database</button>
            <button class="tag-button">sample tag</button>
            <button class="tag-button">Just a tag</button>
            <button class="tag-button">Java</button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>